@model List<Common.PorudzbinaEntity>

<form action="/Proizvod/ShowProducts">
    <button type="submit">Vrati se na proizvode</button>
</form>

<h1>Moje porudžbine</h1>

@if (Model.Count() > 0)
{
    var groupedPorudzbine = Model.GroupBy(p => p.IdPorudzbine);

    foreach (var group in groupedPorudzbine)
    {
        <h2>Porudžbina ID: @group.Key</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>IdProizvoda</th>
                    <th>NazivProizvoda</th>
                    <th>OpisProizvoda</th>
                    <th>CijenaProizvoda</th>
                    <th>KolicinaProizvoda</th>
                    <th>KorisnikEmail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var porudzbina in group)
                {
                    <tr>
                        <td>@porudzbina.IdProizvoda</td>
                        <td>@porudzbina.NazivProizvoda</td>
                        <td>@porudzbina.OpisProizvoda</td>
                        <td>@porudzbina.CijenaProizvoda</td>
                        <td>@porudzbina.KolicinaProizvoda</td>
                        <td>@porudzbina.KorisnikEmail</td>
                    </tr>
                }
                
                <tr>
                    <td colspan="1"></td>
                    <td>Ukupna cijena porudžbine:</td>
                    <td>@group.Sum(p => p.UkupnaCijenaPorudzbine)</td>
                </tr>
            </tbody>
        </table>
    }

}
else
{
    <p>Još niste napravili porudžbinu.</p>

}

   